/* src/Footer.css */
/* Footer.css */
/* .footer {
    background-color: #282c34;
    padding: 100;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #61dafb;
  } */
  