.header {
  background-color: #06080a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 40px; /* Adjust size as needed */
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 24px;
  color: #fff;
  margin: 0;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.nav-links a:hover {
  color: #ff0004; /* Change to your preferred hover color */
}

.auth-buttons {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.auth-buttons .login-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
}

.auth-buttons .login-button:hover{
  background-color: #0056b3; /* Change to your preferred hover color */
}

.auth-buttons .profile-icon {
  font-size: 24px;
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
}

.auth-buttons .profile-icon:hover {
  color: #007bff; /* Change to your preferred hover color */
}

/* Add some animations to make it more attractive */
.header {
  transition: all 0.3s ease-in-out;
}

.header:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.nav-links a:hover {
  transform: translateY(-2px);
}

.auth-buttons .login-button:hover,
.auth-buttons .signup-button:hover {
  transform: translateY(-2px);
}

.auth-buttons .profile-icon:hover {
  transform: translateY(-2px);
}

/* Styling for the sidebar toggle button */
.teacher-sidebar-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
}

.teacher-sidebar-button:hover {
  color: #ff0004;
}
.logo-container
{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  align-items: center;
}